<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
</head>
<body>

    <div>
        <form th:object="${question}" th:action="@{/addquestion}" action="#" method="post">


            <!-- ------------------------------------- -->
            <b>Deadline ??? (Pitäisi olla type="date", toistaiseksi silti type="text")</b><br>
            <input th:field="${question.title}" type="text" name="title"><br><br>

            <!-- ------------------------------------- -->
            <b>Lisää kysymys</b><br>
            <textarea th:field="${question.description}" style="width:450px; height:200px;"></textarea><br><br>







            <input type="submit" value="Save" />
        </form>
    </div>


</body>
</html>