<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body>

	<h1>Rekisteröityminen</h1>

  
	<form style="padding: 4px"> 
		<label for="firstname">First name:</label>
		<input name="firstname" type="text" required /> <br />
		<label for="lastname">Last name:</label>
		<input name="lastname" type="text" required /> <br />
		<label for="email">Email:</label>
		<input name="email" type="text" required /> <br />
		<label for="username">Username:</label>
		<input name="username" type="text" required /> <br />
		<label for="password">Password:</label>
		<input name="password" type="password" required /> <br />
		<label for="rpassword">Repeat password:</label>
		<input name="rpassword" type="password" required /> <br />
		
		<input type="submit" value="Submit" />
		<input type="reset" value="Reset" />
	</form>
     <a th:href="@{/login}">Takaisin kirjautumiseen</a>

</body>
</html>